@{
    ViewBag.Title = "AboutCloud";
}
<body style="background-color:whitesmoke">
    <h2 style="color:darkblue">What is Space Drive?</h2>

    <h3 style="color:darkgreen">
        Space Drive is a free service from Space that allows you to store files online and access them anywhere using the cloud.<br />
        Space Drive also gives you access to free web-based applications for creating documents, spreadsheets, and more.

        <br /><br />
    </h3>


    <h2 style="color:darkblue">Why use space Drive?</h2>

    <h3 style="color:darkgreen">
        Space Drive is one of the most popular cloud storage services available today, offering 15 gigabytes (15GB) of free storage space. If you've never used a cloud-based storage service
        <br />like space Drive before, take a moment to consider the advantages of keeping your files online. Because files can be accessed from any computer with an Internet connection,
        <br />Drive eliminates the need to email or save a file to a USB drive. And because Drive allows you to share files, working with others becomes much easier.
    </h3>

</body>