@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/font-awesome.min.css" rel="stylesheet" />

<body style="background-color:aqua">
    
    <div class="container">
        <nav class="navbar navbar-default">

            <div class="col-sm-5"></div>
            <div class="">
                <h3> Admin Panel</h3>
            </div>

    
    </nav>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <a href="/Admin/RemoveUser" class="btn btn-info">View All Users</a>
       
       
    </div>


    </div>
   





</body>
