@{
    ViewBag.Title = "Index";
}
<body style="background-color:aliceblue;margin-top:100px;">
<div class="row">
    <div class=" col-xs-6 col-md-4"></div>

    
        <div class=" col-xs-6 col-md-4">
            <div class="form-group">
                <form action="/Admin/AdminLog" method="post">
                    <h3>ADMIN LOG INFO</h3>
                    <label style="margin-top:40px">Admin ID:</label>
                    <input type="email" class="form-control" id="AdminEmail" required="required" placeholder="Enter admin Id">
                    <label>Admin Password:</label>
                    <input type="password" class="form-control" id="AdminPassword" required="required" placeholder="Enter admin password">
                    <button class="btn btn-default" style="background-color: skyblue; font-size: 26px; margin-left: 90px; margin-top: 50px; font-size: larger; width: 200px; color: darkorange" type="submit">Continue</button>
                </form>

              </div>
        </div>
</div>


    
    
</body>