@{
    ViewBag.Title = "ReSet";
}
<body style="background-color:silver">
    <div class="container">

        <div class="row" style="margin-top:120px">
            <div class=" col-xs-6 col-md-4"></div>
            <div class=" col-xs-6 col-md-4">
                <h3 style="font-family:'Book Antiqua'">Re Set Your Password Here</h3>
            </div>
            <div class=" col-xs-6 col-md-4"></div>

        </div>

        <form>

            <div class="row" style="margin-top:30px">
                <div class=" col-xs-6 col-md-4"></div>
                <div class="row">
                    <div class=" col-xs-6 col-md-4"></div>
                    <div class=" col-xs-6 col-md-4"></div>
                    <div class=" col-xs-6 col-md-4">
                        <div class="form-group">
                            <label>
                                Enter your email*
                            </label>
                            <input type="email" class="form-control" id="EmailReSet" required="required"placeholder="Reqired field must not be empty">
                        </div>
                    </div>
                </div>



            </div>


            <div class="row">
                <div class=" col-xs-6 col-md-4"></div>
                <div class=" col-xs-6 col-md-4">
                    <div class="checkbox">

                        <button class="btn btn-default" type="submit" style="background-color:lawngreen; width:100px;color:blueviolet">Submit</button>
                    </div>

                </div>
            </div>

        </form>
    </div>
</body>