@{
    ViewBag.Title = "Index";
}




    <body>
        <div>
            <div style="height:560px;background-image: url(/images/airplane-wallpaper-13.jpg)">
               

                <h1 style="position:absolute;margin-left:180px;margin-top
    :300px;color: darkgreen">All your files ready where you are</h1> <form method="post" action="/Home/LogIn">
                 <button class="btn btn-default" style="background-color:lawngreen; margin-left:290px;margin-top:380px; font-size:larger;width:200px;color:blueviolet" type="submit">Go to Space Drive</button> </form>
            </div>
                
</div>

        <div class="row">
            <div class=" col-xs-6 col-md-4"></div>

            <div class=" col-xs-6 col-md-4">
                <div class="form-group">
                    <h2 style="color:red"> Store any file</h2>
                    <h3 style="color:blue">Drive starts you with 15 GB of free Space<br /> online storage, so you can keep photos, stories,<br /> designs, drawings, recordings, videos – <br />anything.</h3>
                </div>
            </div>
        </div>



        <div>
            <img src="~/images/foreest.jpg" />
        </div>
        <div style="position:absolute;z-index:3">
            
            
        </div>
        <br /><br /><br />

        <div class="row">
            <div class=" col-xs-6 col-md-3"></div>

            <div class=" col-xs-6 col-md-3">
                <div class="form-group">
                    <h2 style="color:blue"> See your <br />stuff anywhere</h2>
                    <h3 style="color:cadetblue">
                        Your files in Drive can be reached from any <br />smartphone, tablet, or computer.
                        So wherever<br /> you go, your files follow.
                    </h3>
                </div>
            </div>
            <div class=" col-xs-6 col-md-3">
                <img src="~/images/tab.jpg" />
            </div>
        </div>


        <br /><br /><br />
        <div>
            <img src="~/images/lunch.jpg" />
        </div>
        <div style="position:absolute;z-index:3">


        </div>

        <br />
        <div class="row">
            <div class=" col-xs-6 col-md-4"></div>

            <div class=" col-xs-6 col-md-4">
                <div class="form-group">
                    <h1 style="color:cadetblue"> Get started with Drive for free</h1>
                    
                    <form method="post" action="/Home/LogIn">
                        <button class="btn btn-default" style="background-color:lawngreen; margin-left:90px; font-size:larger;width:200px;color:blueviolet" type="submit">Go to Space Drive</button>

                    </form>
                 </div>
            </div>
        </div>
        

        <div class="row">
            <div class=" col-xs-6 col-md-4"></div>
            <div class=" col-xs-6 col-md-4"></div>
            <div class=" col-xs-6 col-md-4">
                <div class="form-group">
                    <h2 style="color:red"> Follow us on</h2>
                    <br />
                    <a href="#" class="btn btn-info;" style="background-color:skyblue; color:red;">Facebook</a>
                    <a href="#" class="btn btn-info;" style="background-color:skyblue; color:red;">Twitter</a>
                    <a href="#" class="btn btn-info;" style="background-color:skyblue; color:red;">Google</a>
                    <br /><br /><br />
                    
                </div>
            </div>
        </div>
        
        <div class="row" style="background-color:ghostwhite">
            <div class=" col-xs-6 col-md-4"></div>

            <div class=" col-xs-6 col-md-4">
                <br /><br />

            </div>
        </div>
        

        </body>











